<h1>About Us</h1>
<p>.Welcome to <%= @company_name %>. We have been in business since <%year_founded %> and strive to provide services to our company employees </p>

<h1>Home<h1>
<p><%= @message%></p>

<h1>About<h1>
<p><%= @description%>



